
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #16408f, #224175);
    padding: 20px;
}

.container {
    border: none;
    width: 100%;
    max-width: 420px;
    padding: 30px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 15px 35px rgba(0,0,0,0.3);
}


.logo {
    text-align: center;
    margin-bottom: 20px;
}

.logo h2 {
    color: white;
    font-size: 22px;
}

.logo p {
    font-size: 12px;
    color: #ddd;
}

.log {
    width: 35px;
    vertical-align: middle;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
    margin: 40px
}

.card h3 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 34px;
    color: #2a5298;
}

label {
    font-size: 14px;
    font-weight: 600;
    color: #444;
    display: block;
    margin-bottom: 6px;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px 10px;
    margin-bottom: 15px;
    transition: 0.3s;
}

.input-group:focus-within {
    border-color: #2a5298;
    box-shadow: 0 0 5px rgba(20, 56, 119, 0.4);
}

.icon {
    width: 18px;
    margin-right: 8px;
}

input {
    border: none;
    outline: none;
    border-color: #d60f3a;
    width: 100%;
    font-size: 14px;
}

/* ===== BUTTON ===== */
button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #2a5298;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1e3c72;
    transform: translateY(-2px);
}


p {
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

a {
    color: #2a5298;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    color: rgb(11, 229, 236);
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }

    .card {
        padding: 20px;
    }

    .logo h2 {
        font-size: 18px;
    }
}
fieldset {
    width: 700px;
    border-radius: 12px;
    background-color: rgb(29, 10, 65);
    border: hidden;
}
.login {
    width: 700px;
    background-color: rgb(29, 10, 65);
    border: hidden;
    
}
.form {
    width: 500px;
    
}

