body {
    margin: 0;
    font-family: Arial;
    background: #050505;
}

/* CARD STYLE */
.card {
    width: 380px;
    background: white;
    padding: 30px;
    margin: 60px auto;
    border-radius: 10px;
    box-shadow: 25px 4px 15px 25px rgba(0,0,0,0.1);
    text-align: center;
    margin-top: -1px;
}

.logo h2 {
    margin: 0;
    color: white;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    display: flex;
    margin-top: 30px;
    font-size: 30px;
}

.logo p {
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
}

.input-group i {
    margin-right: 10px;
    color: #1e73e8;
}

.input-group input {
    border: none;
    outline: none;
    width: 100%;
}

button {
    width: 100%;
    padding: 10px;
    background: #1e73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #155bc4;
}

/* DASHBOARD */
.dashboard {
    padding: 40px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout {
    background: red;
    width: 120px;
}

.product-box input {
    padding: 8px;
    margin-right: 10px;
    margin-top: 10px;
}

.table-box {
    margin-top: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}
.icon {
    width: 20px;
    height: 20px;
}
.log {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}
h3 {
    font-size: 30px;
    margin-bottom: 12px
}
.form {
    height: 400px;
    width: 400px;
    
}
label {
    margin-right: 220px;
}
fieldset{
    background-color: #5764f5;
    width: 600px;
    height: 720px;
    justify-content: center;
    align-items: center;
    margin-left: 430px;
    margin-top: 10px;
    border: hidden;
    margin-right: 670px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.5);
}
#registerForm {
   height: 420px;
   margin-top: -20px;
}
.login {
    background-color: #5764f5;
    width: 500px;
    height: 660px;
    justify-content: center;
    align-items: center;
    margin-left: 490px;
    margin-top: 10px;
    border: hidden;
    margin-right: 670px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.5);
}
.name {
    margin-right: 250px;
}
.pass {
    margin-right: 250px;
}
a {
    color: rgb(0, 21, 255);
    text-decoration: none;
    font-weight: bold;

}